<h2>Your dashboard</h2>
<p>Welcome {{name}}</p>
<p>Viewing all flashcards</p>
<!-- Loop over each object in the projects array -->
{{#each cards as |card| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/card/{{card.id}}">{{card.name}}</a>
    </h2>
    <p>
      {{card.description}}
    </p>
    </p>
    <p>Created by {{card.name}} on {{format_date card.date_created}}</p>
  </div>
</div>
{{/each}}

<div class="card">
  <div class="card-content">
    <p class="title">
      {{collecton.name}}
      card subject here
    </p>
    <p class="question">
      {{card.question}}
      card question here
    </p>
    <p class="answer">
      {{card.answer}}
      card answer here
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      created on
    </p>
  </footer>
</div>

<a href="/new-card">Creat a New Flash Card</a>