<!-- Start Carousel -->
<div class='columns'>
  <div class='column is-full'>
    <div id='carousel' class='carousel'>
      {{#each cards as |card|}}
      <div class='card item-{{@index}}'>
        <div class='card-content'>
          <p class='title'>
            {{card.question}}
          </p>
          {{!-- toggles to reval the answer to each card --}}
          <button class='toggle-btn button is-success' onclick='showHide({{card.id}})'>Reveal Answer</button>
          <p class='subtitle' id='{{card.id}}' style='visibility: hidden;'>
            Answer:
            {{card.answer}}
          </p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<!-- End Carousel -->
<script src='https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js'></script>
<script>
  bulmaCarousel.attach('#carousel', {
    slidesToScroll: 1,
    slidesToShow: 1,
    loop: true,
    pagination: false
  });
</script>
<script src='/assets/js/showHide.js'>